<div class="jumbotron text-center">
	<alert ng-repeat="alert in alerts">{{alert.msg}}</alert>
	UserName(email id):<input type="text" class="form-control" ng-model="userObj.userName">
	New password:<input type="text" class="form-control" ng-model="userObj.password">
	<button class="btn btn-primary" ng-click="register(userObj)">Register</button>
</div>


<h3 style="margin-left:100px;">User List</h3>
<div class="alert alert-info" style="width:400px;margin-left:100px;" ng-show="user.length == 0">
    No users found
</div>
<table class="table table-bordered table-striped" style="width:450px; margin-left: 100px;" ng-show="users.length > 0">
    <thead>
        <tr>
            <th style="text-align: center;">User Name</th>
            <th style="text-align: center;">Password</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="user in users">
            
            <td>{{user.userName}}</td>
             <td>{{user.password}}</td>
        </tr>
    </tbody>
</table>